
body {
    background-color:lightgray; 
    display: flex;
    justify-content: center;
    align-items: center;
}

pre {
    background:linear-gradient(lightgreen,green);
    border-radius: 8px;
    padding: 20px;  
    font-size: 18px; 
    box-shadow: 0 2px 8px black;
}

